include LICENSE
include README.rst
include MANIFEST.in
exclude *.pyc
recursive-include traffic_monitor/templates *
recursive-include traffic_monitor/locale *
recursive-include traffic_monitor/migrations *
recursive-include docs *
prune traffic_monitor/__pycache__
